Source: alip-artwork
Section: x11
Priority: optional
Maintainer: Ricardo Salveti <ricardo.salveti@linaro.org>
Build-Depends: debhelper (>= 9),
               icon-naming-utils,
               intltool
Standards-Version: 3.9.6
Vcs-Git: https://github.com/rsalveti/alip-artwork.git
Homepage: https://github.com/rsalveti/alip-artwork

Package: alip-artwork
Architecture: all
Depends: gtk2-engines-pixbuf,
         gtk2-engines-murrine,
         libnewt0.52 (>= 0.52.11),
         alip-lxpanel-icons,
         alip-icon-theme,
         ${misc:Depends}
Description: artwork for Linaro ALIP
 Artwork for Linaro ALIP, contained the wallpaper and others specific images
 and logos.
 .
 This package contains theme of Linaro ALIP.

Package: alip-icon-theme
Architecture: all
Depends: hicolor-icon-theme,
         gnome-icon-theme,
         gnome-icon-theme-symbolic,
         ${misc:Depends}
Description: icon theme for Linaro ALIP
 This package contains a specific icon theme for Linaro ALIP.

Package: alip-lxpanel-icons
Architecture: all
Depends: ${misc:Depends}
Description: panel specific icons for Linaro ALIP artwork
 This package contain specific lxpanel icons for Linaro ALIP theme.
